*{
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}
.navber-brand{
    font-size: 2rem;
    color: black;
    font-style: "arial mt bold";
}
.navber-brand:hover{
    color: black;
}
.nav-link{
    margin-right: 10px;
    margin-left: 10px;
    font-style: "mt-bold";
    color: black;
}
.nav-link:hover{
    color: black;
}
.search{
    height: 40px;
    width: 80%;
    border-radius: 60px;
    outline: none;
    margin-right: -35px;
    border: 2px gray(26,35,26);
}
.btn0{
    height: 40px;
    width: 40%;
    outline:none;
    border:none;
    background: gray(26,35,26);
    color: black;
    border-radius: 60px;
    font-weight: 700;
}
.main{
    background: url(5abf43cec5dbe1d686ef782a4b9375b9.jpg)no-repeat;
    background-size: cover;
    height: 100vh;
    background-position: 50% 50%;
    width:100%;
}
.main h1{
    font-size: 4rem;
    font-weight: 700;
    color: white;
}
.btn1{
    height: 45px;
    width: 35%;
    border:none;
    outline: none;
    background-color: gray;
    color: white;
    font-weight: 700;
    border-radius: 60px;
}